/* navigation bar */

header {
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
  flex-grow: 1;
  z-index: 1;
  overflow: hidden;
        }

nav {
  padding-right: 30px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: underline;
  color: black;
}

#logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
  }

#logo img {
  margin-right: 12px;
}


nav span {
  display: inline-block;
  padding: 20px 10px;
    }

 /* Main content */

div {
  border: solid 1px black;
}
#main {
   padding-top: 81px;
   display: flex;
   
   }

.column {
display: flex;
flex-direction: column;
margin-right: 32px;
   }

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.lead-story .image-content {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 630px;
}

.image-content {
  height: 300px;
}

.earth {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-image: url( https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  }

.photography-image {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  }

.cat-image {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  }
